
<div class="widget-wrapper">
	<div class="widget-title">
		Topic
	</div>
	<ul>
		{% for topic in topics %}
			<li><a href="{{topic.get_absolute_url}}">{{topic.title}}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="widget-wrapper">
	<div class="widget-title">
		Type
	</div>
	<ul>
		{% for restype in types %}
			<li><a href="{{restype.get_absolute_url}}">{{restype.title}}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="widget-wrapper">
	<div class="widget-title">
		Role
	</div>
	<ul>
		{% for category in categories %}
			<li><a href="{{category.get_absolute_url}}">{{category.title}}</a></li>
		{% endfor %}
	</ul>
</div>