{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles plei_tags %}

{% block breadcrumb_menu %}{% endblock %}

{% block main %}

<div id="wrapper" class="clearfix">
	<section id="content-full" class="grid col-620">
		<div class="breadcrumb-list">
			<span typeof="v:Breadcrumb">
				<a rel="v:url" property="v:title" href="/">Home</a>
			</span>
			<span class="chevron">&#8250;</span>
			{% if page.topics.count %}
				<span typeof="v:Breadcrumb">
					<a rel="v:url" property="v:title"
						href="{{page.topics.all.0.get_absolute_url}}">{{page.topics.all.0.title}}</a>
				</span>
				<span class="chevron">&#8250;</span>
			{% endif %}
			<span class="breadcrumb-current">{{page.title}}</span>
		</div>
		<div class="page">
			<h1 class="page-icon-{{page.item_type|lower}}">{{page.title}}</h1>
				{% if page.show_date %}
                	<div class="date-author"><b>Date Created:</b> {{page.publish_date|date:'F jS, Y'}}</div>
                {% endif %}
                {% if page.show_author %}
                	<div class="date-author"><b>Author(s):</b> {{page.author}}</div>
                {% endif %}

				<article class="resource-content">
					{% if page.featured_image %}
	                <img src="{{ MEDIA_URL }}{% thumbnail page.featured_image 300 0 %}" alt="Resource Image">
	                {% endif %}
					{{ page.content|richtext_filter|safe }}
                </article>

                <aside id="extra" class="grid col-940">
                	<ul class="grid col-940 has_lighbox_popups">
                		{% if page.toc %}
                			<li><a class="lightbox" href="#toc" data-effect="mfp-zoom-in">Table of Contents</a></li>
                		{% endif %}

                		{% if page.video_url %}
                        	<li><a class="popup-youtube" href="{{ page.video_url }}">Watch Video</a></li>
                        {% endif %}

                        {% if page.audio_file %}
                        	<li><a class="popup-audio" href="{{ MEDIA_URL }}{{ page.audio_file }}">Listen to Audio</a></li>
                        {% endif %}

                        {% if page.link_url %}
                        	<li><a target="_blank" href="{{ page.link_url }}">Web Link</a></li>
                        {% endif %}

                        {% if page.attached_document %}
                        	<li><a target="_blank" href="{{ MEDIA_URL }}{{ page.attached_document }}">Download Document</a></li>
                        {% endif %}
                    </ul>
                </aside>

                {% if page.has_related %}
                <aside id="recomendations" class="grid col-940">

                <h5>Recommendations:</h5>

				<ul class="cycle-slideshow grid col-940 category-list"
					    data-cycle-fx="carousel"
					    data-cycle-timeout="0"
					    data-cycle-carousel-visible="5"
					    data-cycle-carousel-fluid="false"
					    data-cycle-next="#small-arrow-right"
					    data-cycle-prev="#small-arrow-left"
					    data-cycle-slides="> li" >
				    {% for item in page.related_resources.all %}
                    <li class="grid">
                        {% include "plei/resource_widget.html" %}
                    </li>
                    {% endfor %}

				    {% for item in page.related_faqs.all %}
                    <li class="grid">
                    	{% include "plei/resource_widget.html" %}
                    </li>
                    {% endfor %}
        		</ul>


                <div id="small-controls">

                    <div id="small-arrow-left"><a href="#"><img src="{% static "img/small-arrow-left.png" %}" alt="previous" /></a></div>

                    <div id="small-arrow-right"><a href="#"><img src="{% static "img/small-arrow-right.png" %}" alt="next" /></a></div>

   				 </div>


                </aside>

				{% endif %}

			</div><!-- end of .page -->


		</section><!-- end of #content-full -->

	<section id="share" class="grid col-300 fit">
    	<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript">
			var addthis_config = {
				"data_track_addressbar" : true
			};
		</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51b625b9399cfa6a"></script>
		<!-- AddThis Button END -->

	</section>

	<section id="widgets" class="grid col-300 fit">

		{% if page.related_dictionary.count %}
			<div class="widget-wrapper">
				<div class="widget-title">
					Dictionary Terms
				</div>
				{% for term in page.related_dictionary.all %}
					<a href="{{term.get_absolute_url}}" title="{{term.content|striptags}}">{{term.title}}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		{% plei_side_menu %}
	</section><!-- end of #widgets -->
</div>

<div id="toc" class="white-popup mfp-with-anim mfp-hide">
	{{ page.toc|richtext_filter|safe }}
</div>



{% endblock %}
