<!doctype html>
{% load pages_tags mezzanine_tags i18n future staticfiles plei_tags %}
<!--[if !IE]>      <html class="no-js non-ie" lang="en-US"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en-US"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% compress css %}
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="{% static "js/magnific-popup/magnific-popup.css" %}" />
	<link rel="stylesheet" href="{% static "css/plei.css" %}" />
	{% block extra_css %}{% endblock %}
{% endcompress %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

{% compress js %}
	<script src="{% static "js/responsive-modernizr.js" %}"></script>
	<script src="{% static "js/responsive-scripts.js" %}"></script>
	<script src="{% static "js/jquery.cycle2.min.js" %}"></script>
	<script src="{% static "js/jquery.cycle2.carousel.min.js" %}"></script>
	<script src="{% static "js/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/plei.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,700,700italic' rel='stylesheet' type='text/css'>
{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
	<div id="container" class="hfeed">
		<div id="header">
			<div id="logo">
				<a href="/"><img src="{% static "img/plei-logo.png" %}" alt="Public Legal Eductaion Information for Non-Profits" /></a>
			</div><!-- end of #logo -->


			{% plei_taglines %}

			<div class="main-nav">
            <div id="browse">BROWSE BY:</div>
				{% plei_top_menu %}
			</div>
			<div class="main-search-bar form-fill grid-right col-300 fit">
				<form method="get" id="searchform" action="/search/">
					<input type="hidden" name="type" value="" />
					<input type="text" class="field" name="q" id="q" placeholder="Search by Keyword" />
					<input type="submit" class="submit" name="submit" id="searchsubmit" value=""  />
				</form>
			</div>
	    </div><!-- end of #header -->



		{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
		{% block centralpart %}
			{% block main %}
			{% endblock %}
		{% endblock %}


	</div><!-- end of #container -->

	{% block wide_centralpart %}
	{% endblock %}

<div id="credit-logos" class="grid col-940 orange clearfix">
                	<div id="credit-logos-wrap">
                	<div id="clicklaw"><p>Find other PLEI</p><a href="http://clicklaw.bc.ca/" target="_blank"><img src="/static/img/clicklaw-logo.jpg" alt="Go to Clicklaw.bc.ca" /></a></div>
                    <div id="lawfoundation"><p>Project was made possible by</p><a href="http://www.lawfoundation.on.ca/" target="_blank"><img src="/static/img/law_foundation_ontario-logo.jpg" alt="Go to lawfoundation.on.ca" /></a></div>
                	</div>
                </div>


	<footer>
		<div id="footer" class="clearfix">
			<div id="footer-wrapper">
            	
            
				<div id="legal-notice" class="grid col-940">
					<div class="text-padding">
						<b>The People’s Law School does not provide legal advice.</b>
						<br/>We provide public legal education and information,
						resources, and referral services to the public and community agencies.
					</div>
				</div>

				<div id="footer-nav" class="grid col-940">
					{% page_menu "pages/menus/footer.html" %}
				</div><!-- end of foote-nav -->

				<div id="colophon-widget" class="grid col-940">
					<div class="grid col-300">

						<div class="widget-wrapper">

							<div class="widget-title-home">
								<h4>Connect and Share</h4>
							</div>
							<div class="textwidget">

								<div id="social-icon">
									<a href="https://twitter.com/PLSBC" target="_blank"><img src="/static/img/social-media-icon-tw.png" alt="Our Twitter Page" /></a>
									<a href="https://www.facebook.com/peopleslawschool" target="_blank"><img src="/static/img/social-media-icon-fb.png" alt="Our Facebook Page" /></a>
									<a href="http://www.linkedin.com/company/2024453?trk=tyah" target="_blank"><img src="/static/img/social-media-icon-li.png" alt="Our LinkedIn Page" /></a>
									<a href="http://www.youtube.com/user/plsbc" target="_blank"><img src="/static/img/social-media-icon-yt.png" alt="Our You Tube Page" /></a>
								</div>

								<div id="social-caption">
									<p>
										Let’s Tweet on the Twitterverse!
									</p>
									<p>
										We’re always around for a face to face!
									</p>
									<p>
										To link or not to link - no question - we’re linked!
									</p>
									<p>
										Our channel’s up 24 hours a day, 7 days a week!
									</p>
								</div>

							</div>

						</div><!-- end of .widget-wrapper -->

					</div><!-- end of .col-300 -->

					<div class="grid col-300">

						<div class="widget-wrapper">

							<div class="widget-title-home">
								<h4>People’s Law School</h4>
							</div>
							<div class="textwidget center-widget col-940">

								<a href="http://www.publiclegaled.bc.ca/pls_ask"><img src="/static/img/pls-ask-logo-footer.png" alt="Pls Ask Logo" /></a>
								<p>
									We’re just a question away. PLS ask us how we can help you or visit our FAQ page for more info.
								</p>
								<a href="http://www.publiclegaled.bc.ca/"><img src="/static/img/pls-logo-footer.png" alt="People's Law School Logo" /></a>

							</div>

						</div><!-- end of .widget-wrapper -->

					</div><!-- end of .col-300 -->

					<div class="grid col-300 fit">

						<div class="widget-wrapper">

							<div class="widget-title-home">
								<h4>Get Involved</h4>
							</div>
							<div class="textwidget">

								<div id="getinvolved-icon">

									<a href="http://www.publiclegaled.bc.ca/volunteer"><img src="/static/img/volunteer-icon.png" alt="Volunteer Icon" /></a>
									<a href="http://www.publiclegaled.bc.ca/donate"><img src="/static/img/donate-icon.png" alt="Donate Icon" /></a>

								</div>

								<div id="getinvolved-caption">
									<p>
										Share you ideas on how to improve the development and distribution of PLEI in BC.
									</p>
									<p>
										<a href="http://www.publiclegaled.bc.ca/volunteer"><img src="/static/img/footer-buttons-volunteer.png" alt="Click to Volunteer" /></a>
									</p>
									<p>
										Thank you for supporting us so we can continue to provide accessible and plain language PLEI to the people of BC.
									</p>
									<p>
										<a href="http://www.publiclegaled.bc.ca/donate"><img src="/static/img/footer-buttons-donate.png" alt="Click to Donate" /></a>
									</p>
								</div>

							</div>

						</div><!-- end of .widget-wrapper -->

					</div><!-- end of .col-300 fit -->
				</div><!-- end of #widgets -->

				<div class="grid col-300 copyright">
					&copy; 2013 <a href="http://idealogy.ca/dev/pls2013wp/" title="People&#8217;s Law School">People&#8217;s Law School</a>
				</div><!-- end of .copyright -->

				<div class="grid col-300 scroll-top">
					<a href="#scroll-top" title="scroll to top">&uarr;</a>
				</div>

				<div class="grid col-300 fit powered">
					<a href="http://www.webteam.vcn.bc.ca/" title="Web Design &amp; Marketing for non-profits by VCN Webteam" target="_blank">Web Design &amp; Marketing for non-profits by VCN Webteam</a>
				</div><!-- end .powered -->

			</div><!-- end #footer-wrapper -->

		</div><!-- end <div> footer -->

	</footer>


{% include "includes/footer_scripts.html" %}

</body>
</html>
