{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static "css/plei.css" %}">
{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block main %}

<div class="resources clearfix">
	{% for resource in featured_resources %}
		<div class="resource resource-{{resource.typename}}">
			<a href="{{resource.get_absolute_url}}"><h4>{{resource.titles}}</h4></a>
			{% if resource.featured_image %}
				<p class="featured-image"><img src="{{ MEDIA_URL }}{% thumbnail resource.featured_image 400 0 %}"/></p>
			{% endif %}
			<p class="snippet">{{resource.description}}</p>
			<p class="viewmore"><a href="{{resource.get_absolute_url}}">View more</a></p>
		</div>
	{% endfor %}
</div>

<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
</ul>
{% endblock %}
